<form [formGroup]="form" class="cardBody" (ngSubmit)="onSubmit()">
  <h2 class="cardTitle">{{ 'FORGOT.TITLE' | translate }}</h2>
  <small>Enter your account’s email and we’ll send you a link to reset your password.</small>

  <div class="alert alert_danger marginBottom_2" style="display: none">
    <i class="mdi mdi-close-octagon alert__icon"></i>
    <div>
      <h3 class="alert__title">Invalid email</h3>
      <p class="alert__text">Please check your credentials and try again.</p>
    </div>
  </div>

  <div class="inputCont marginTop_1">
    <label for="forgotEmail" class="label">{{ 'FORGOT.EMAIL' | translate }}</label>
    <input
      (blur)="onBlur('email')"
      type="email"
      id="forgotEmail"
      formControlName="email"
      placeholder="{{ 'FORGOT.EXAMPLE' | translate }}"
      class="input"
      aria-describedby="loginEmail_errorMsg"
      pInputText
    />
    <small *ngIf="emailCtrl?.invalid && (emailCtrl?.dirty || emailCtrl?.touched)" id="loginEmail_errorMsg" class="p-error">
      <span *ngIf="emailCtrl?.hasError('required')">{{ 'FORGOT.EMAIL_REQUIRED' | translate }}</span>
      <span *ngIf="emailCtrl?.hasError('email')">{{ 'FORGOT.EMAIL_WRONG_FORMAT' | translate }}</span>
    </small>
  </div>
  <div>
    <button id="submitBtn" name="submit" type="submit" class="button button_big button_block">
      {{ 'FORGOT.SEND_EMAIL' | translate }}
    </button>
  </div>
  <div class="forgotFoot">
    <button type="button" class="button button_link margin_auto" (click)="goToLogin()">
      {{ 'FORGOT.LOGIN' | translate }}
    </button>
  </div>
</form>
