/* ////////////////////////////// Fonts ////////////////////////////// */

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-regular.woff2') format('woff2'),
    url('../fonts/ubuntu-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-bold.woff2') format('woff2'),
    url('../fonts/ubuntu-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

