<div class="bkgCont" style="background-image: url('assets/images/pictures/authBkg_desktop.jpg')">
  <img class="environmentLabel" alt="" src="assets/images/environment_labels/environment_label.png" />

  <main class="card authCard">
    <h1 class="cardHead">
      <!-- <img src="" alt="After90_logo" class="authCardLogo" /> -->
    </h1>
    <form [formGroup]="form" class="cardBody" (ngSubmit)="onSubmit()">
      <h2 class="cardTitle">{{ 'LOGIN.TITLE' | translate }}</h2>
      <div class="alert alert_danger marginBottom_2" style="display: none">
        <i class="mdi mdi-close-octagon alert__icon"></i>
        <div>
          <h3 class="alert__title">Invalid email/password</h3>
          <p class="alert__text">Please check your credentials and try again.</p>
        </div>
      </div>
      <div *ngIf="showResetPasswordMessage" class="alert alert-success">
        <p>Password changed successfully!</p>
      </div>
      <div class="inputCont">
        <label for="loginEmail" class="label">{{ 'LOGIN.EMAIL' | translate }}</label>
        <input
          (blur)="onBlur()"
          type="email"
          id="loginEmail"
          formControlName="email"
          placeholder="{{ 'LOGIN.EXAMPLE' | translate }}"
          class="input"
          aria-describedby="loginEmail_errorMsg"
          pInputText
        />
        <small *ngIf="emailCtrl?.invalid && (emailCtrl?.dirty || emailCtrl?.touched)" id="loginEmail_errorMsg" class="p-error">
          <span *ngIf="emailCtrl?.hasError('required')">{{ 'LOGIN.EMAIL_REQUIRED' | translate }}</span>
          <span *ngIf="emailCtrl?.hasError('pattern')">{{ 'LOGIN.EMAIL_WRONG_FORMAT' | translate }}</span>
        </small>
      </div>
      <div class="inputCont">
        <label for="loginPassword" class="label">{{ 'LOGIN.PASSWORD' | translate }}</label>
        <div class="inputIconCont">
          <input
            (blur)="onBlur()"
            formControlName="password"
            type="password"
            pPassword
            placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
            id="loginPassword"
            class="inputIconField"
            [showPassword]="showPassword"
            [feedback]="false"
            aria-describedby="loginPassword_errorMsg"
          />
          <button type="button" class="inputIconBtn" (click)="showPassword = !showPassword" title="Show/hide password">
            <i class="mdi" [class]="showPassword ? 'mdi-eye-off' : 'mdi-eye'"></i>
          </button>
        </div>
        <small *ngIf="passCtrl?.invalid && (passCtrl?.dirty || passCtrl?.touched)" id="loginPassword_errorMsg" class="p-error">
          <span *ngIf="passCtrl?.hasError('required')">{{ 'LOGIN.PASSWORD_REQUIRED' | translate }}</span>
        </small>
      </div>
      <button name="goToForgot" (click)="goToForgot()" class="button button_link marginLeft_auto" type="button">
        {{ 'LOGIN.FORGOT_PASSWORD' | translate }}
      </button>
      <div>
        <button name="submit" type="submit" class="button button_big button_block">
          {{ 'LOGIN.SUBMIT_BUTTON' | translate }}
        </button>
      </div>
      <div class="loginFoot"></div>
    </form>
  </main>
  <div class="powered_by_label">
    <span>Powered by</span>
    <img class="" alt="powered by After90" src="assets/images/logos/After90_logo_sm.png" />
  </div>
</div>
