@import 'variables';

/* ////////// Card Foot ////////// */

.loginFoot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 1rem;
}

/*** validations ***/

.validation.text-danger {
  font-size: 11px;
  color: #a6061d;
  background: #b40c2312;
  width: 100%;
  border-radius: 2px;
  display: table;
  padding: 3px;
  margin-top: 4px;
}

.validation > i {
  margin-right: 3px;
}

.alert.alert-success i.mdi {
  color: #417e20;
  font-size: 19px;
  top: 6px;
  position: relative;
}

.alert.alert-success p {
  color: #417e20;
  font-size: 14px;
  margin: 8px 0;
}


